h1 {
  color: white;
  font-size: 60px;
}

.info {
  color: white;
  width: 510px;
  display: inline-block;
  font-size:18px;
}

p{
    font-family: "IBM Plex Mono", monospace;
    color: #9C9C9C;
}

.button {
  background-color: green;
  width: 200px;
  height: 50px;
  border-radius:10px;
  justify-content:center;
  align-items:center;
  display:flex;
  transition: 0.2s
}

.button:hover{
      background-color:rgb(6, 167, 6);
      cursor:pointer;
     }

.picture{
    justify-content:right;
    justify-self:right;
    display:inline-block;
    margin-left:100px;
}

.mal {
  border-radius: 50%;
  width: 510px;
  object-fit: cover;
}

.main{
      margin: 0;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  font-family: monospace;
}

@media screen and (max-width:768px){
    .main{
        flex-direction:column;
        text-align:center;
}
  .picture {
    margin-left: 0;
    margin-top: 30px;
  }
  
  .button{
    align-self:center;
    justify-self:center;
  }
}